html {
  font-size: 20px;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align: center;
  background-color: #121212;
  color: #ffffff;
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
  z-index: 0;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url('background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.3;
  z-index: -1;
}

h3 {
  color: aqua;
  font-size: 2rem;
  margin-top: 2rem;
  border-bottom: 2px solid transparent;
  display: inline-block;
  transition: border-bottom 0.3s ease;
}

h3:hover {
  border-bottom: 2px solid white;
}

button {
  font-size: 1.5rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 10px;
  background-color: #333;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.5s ease-in-out;
  margin-top: 5rem;
}

button:hover {
  background-color: #555;
  transform: scale(1.1);
}

div {
  margin-top: 3rem;
  font-size: 1.6rem;
  color: #fff;
  text-align: center;
}
#quote-text {
  background-color: rgba(255, 235, 59, 0.9);
  padding: 0.2em 0.6em;
  border-radius: 10px;
  display: inline-block;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


div span {
  background-color: rgba(255, 235, 59, 0.9); 
  padding: 0.2em 0.6em;
  border-radius: 10px;
  display: inline-block;
  color: #333;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

footer {
  text-align: center;
  padding: 20px;
  color: #ccc;
  margin-top: 150px;
}
.Authors-Note {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  max-width: 90%;
  padding: 10px 20px;
  background: rgba(18, 18, 18, 0.8);
  color: #ccc;
  font-style: italic;
  font-size: 1rem;
  border-radius: 8px;
  text-align: center;
  white-space: nowrap;
}
